:host {
  &:hover {
    .top-line button {
      visibility: visible;
    }
  }

  &:focus-within {
    .top-line button.menu {
      visibility: visible;
    }
  }
}

.top-line {
  display: flex;
  height: 20px;

  button {
    &:not(.paused) {
      visibility: hidden;
    }

    opacity: 0.5;

    &.pause_icon {
      height: 16px;
      width: 16px;
      line-height: 16px;

      &.paused {
        opacity: 1;
      }

      ::ng-deep mat-icon {
        height: 16px;
        width: 16px;
      }
    }

    &.menu {
      height: 20px;
      width: 25px;
      line-height: 20px;
    }


    &:hover {
      opacity: 1;
    }
  }
}

.label {
  align-self: center;
  flex: 1;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pause_icon {
  height: 16px;
  width: 16px;
}

.mat-divider {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
