:host {
  &:hover, &:focus-within {
    .top-line button {
      visibility: visible;
    }
  }
}

.top-line {
  display: flex;
  height: 20px;

  button {
    visibility: hidden;
    height: 20px;
    width: 25px;
    line-height: 20px;
  }
}

.label {
  align-self: center;
  flex: 1;
}
