:host {
  display: block;
  width: calc(var(--group-holder-width, 50) * 1%);

  &:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }
}

.group-name {
  background: rgba(0, 0, 0, 0.16);
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  width: 100%;
  display: block;
  margin-bottom: 0.5rem;
  height: 1.3rem;

  &:empty {
    opacity: 0;
  }
}

.inner-padding {
  margin: 5px;
}

