<h2 class="mat-h2" >
  <span>
    {{app.name}}

    <mat-chip-list>
    <mat-chip *ngIf="app.disconnected">Disconnected</mat-chip>
    </mat-chip-list>
  </span>
  <i class="mat-small"
    *ngIf="debugToggle.showDebugId$() | async">{{app.appId}}</i>
</h2>

<mat-tab-group>
  <mat-tab #tab>
    <ng-template mat-tab-label>
      <span [matBadge]="getObjectLength(app.watchers)"
            matBadgeOverlap="false">Watchers</span>
    </ng-template>

    <senstate-watchers-masonry [appId]="app.appId" *ngIf="layoutOption.value === 'masonry'"
                               [autoSizeCards]="autoSizeActive">
    </senstate-watchers-masonry>

    <senstate-watchers-list *ngIf="layoutOption.value === 'list'"
                            [appId]="app.appId" >
    </senstate-watchers-list>
  </mat-tab>
  <mat-tab label="Log">
    <senstate-log-viewer [logArray]="logs$ | async"></senstate-log-viewer>
  </mat-tab>
  <mat-tab *ngIf="errors$ | async as errors">
    <ng-template mat-tab-label>
            <span [matBadge]="''+errors.length"
                  matBadgeOverlap="false">Errors</span>
    </ng-template>

    <senstate-error-viewer [errorArray]="errors"></senstate-error-viewer>

  </mat-tab>
  <mat-tab [disabled]="true">
    <ng-template mat-tab-label>
      <button mat-icon-button *ngIf="tab.position === 0"
              [mdePopoverTriggerFor]="settingsPopover"
              mdePopoverTriggerOn="click">
        <mat-icon svgIcon="more_vert"></mat-icon>
      </button>
    </ng-template>
  </mat-tab>
</mat-tab-group>


<mde-popover #settingsPopover="mdePopover"
             [mdePopoverOverlapTrigger]="false"
             [mdePopoverCloseOnClick]="false"
             [mdePopoverOffsetX]="0"
             [mdePopoverOffsetY]="2"
             [mdePopoverArrowOffsetX]="15">
  <div class="popover mat-elevation-z2">
    <label>Layout</label>
    <mat-select #layoutOption [value]="listType"
                (valueChange)="saveListType($event)">
      <mat-option value="masonry">Masonry</mat-option>
      <mat-option value="list">List</mat-option>
    </mat-select>
    <ng-container *ngIf="layoutOption.value === 'masonry'">
      <hr class="divider" />
      <label>Card-Size</label>
      <mat-checkbox (click)="toggleAutoSize()"
                    [checked]="autoSizeActive">
        Disable Max-Width
      </mat-checkbox>
    </ng-container>
  </div>
</mde-popover>
