
code {
  background: #444;
  border-radius: 10px;
  padding: 6px;
  margin-bottom: 0.5rem;
  display: inline-block;
  margin-left: -0.4rem;
}

.groups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.divider {

}

.watcher-holder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.watcher-entry {
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
  width: calc((var(--watcher-holder-width, 50) * 1%) - 8px);

  &:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }
}
