<ng-container *ngIf="watchers$ |async as watchers">
  <h2 class="mat-h3" *ngIf="watchers.length === 0">
    No watchers yet :)
  </h2>

  <div class="groups" [cssProps]="{'--group-holder-width': columnWidth }">

  <senstate-group-holder
    *ngFor="let group of watchers; trackBy: trackByGroupFunc">
    <b *ngIf="group.key && group.key !== 'undefined'"
        group_holder__name>
      {{group.key}} - Watchers: {{group.watchers.length}}
    </b>

    <div *ngFor="let tag of group.watchers; trackBy: trackByWatcherFunc"
         [ngSwitch]="tag.type"
         class="watcher-entry">
      <code>{{ tag.tag }}:</code>
      <i class="mat-small"
       *ngIf="debugToggle.showDebugId$() | async">{{tag.watchId}}</i>
      <br />
      <senstate-list-json-value [watchId]="tag.watchId"></senstate-list-json-value>
    </div>
  </senstate-group-holder>

  </div>
</ng-container>

<ng-template dynamicPortalSource="view-options">
  <hr class="divider" />

  <label>Column Width</label>
  <mat-select [(value)]="columnWidth" >
    <mat-option [value]="50">50%</mat-option>
    <mat-option [value]="33">33%</mat-option>
    <mat-option [value]="25">25%</mat-option>
  </mat-select>
</ng-template>
