table {
  width: 100%;
  table-layout: fixed;
}

.filter-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;


  mat-form-field {
    flex: 1;
    padding: 5px;
  }
  mat-paginator {
    flex: 1;
  }
}

:host ::ng-deep {
  .scrollable {
    overflow: auto;
  }
}

.message-column {
  position: relative;
}

.search-issue {
  position: absolute;
  right: 5px;
  top: 5px;
}

.error-message {
  padding-right: 40px;
}
