<div class="filter-bar mat-paginator mat-elevation-z8">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)"
           placeholder="Filter" autocomplete="off">
  </mat-form-field>

  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
</div>

<table mat-table [dataSource]="dataSource"
       multiTemplateDataRows matSort>
  <ng-container matColumnDef="methodName">
    <th mat-header-cell *matHeaderCellDef> Method</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.line">Line: {{element.line}} -</ng-container>
      {{element.methodName}}
    </td>
  </ng-container>

  <ng-container matColumnDef="errorName">
    <th mat-header-cell *matHeaderCellDef> Error</th>
    <td mat-cell *matCellDef="let element">
      {{element.errorName}}
    </td>
  </ng-container>

  <ng-container matColumnDef="message">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Message</th>
    <td mat-cell *matCellDef="let element" class="message-column">
      {{element.message}}

      <button mat-icon-button class="search-issue"
              [mdePopoverTriggerFor]="searchErrorPopover"
              (opened)="markElementForSearch(element)"
              mdePopoverTriggerOn="click">
        <mat-icon svgIcon="search"
                  style="width: 32px; height: 32px">

        </mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Secondary Row -->
  <ng-container matColumnDef="stack">
    <td mat-cell [attr.colspan]="displayedColumns.length"
        *matCellDef="let element" class="scrollable">
      <pre>{{ element.stack | stacktrace | async }}</pre>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-row *matRowDef="let row; columns: secondRowColumns; when: showRow"
      [class]="'data-row'"></tr>
</table>

<mde-popover #searchErrorPopover="mdePopover"
             [mdePopoverOverlapTrigger]="false"
             [mdePopoverCloseOnClick]="false"
             [mdePopoverOffsetX]="5"
             [mdePopoverOffsetY]="2"
             [mdePopoverArrowOffsetX]="15">
  <div class="popover mat-elevation-z2">
    Search at: <br>

    <mat-action-list>
      <mat-list-item (click)="searchOnGoogle()">Google</mat-list-item>
      <mat-list-item (click)="searchOnDuckDuck()">DuckDuckGo</mat-list-item>
      <mat-list-item (click)="searchOnGithub()">GitHub</mat-list-item>
      <mat-list-item (click)="searchOnStackOverflow()">Stack-Overflow</mat-list-item>
    </mat-action-list>
  </div>

</mde-popover>
