<mat-toolbar color="primary" #mainToolbar>
  <div class="toolbar-title">Senstate 0.2</div>

  <div class="space"></div>

  <div class="right-side">
    <button mat-button *ngIf="!isMobile"
            [mdePopoverTriggerFor]="themePopover"
            [mdePopoverTargetAt]="{_elementRef: qrImg}"
            mdePopoverTriggerOn="click">
      Mobile Mode <img src="assets/qrcode.png" #qrImg>
    </button>

    <button mat-icon-button
            [mdePopoverTriggerFor]="settingsPopover"
            [mdePopoverTargetAt]="mainToolbar"
            mdePopoverTriggerOn="click">
      <mat-icon svgIcon="settings_applications"
                style="width: 32px; height: 32px">

      </mat-icon>
    </button>
  </div>

  <!--
  <button mat-icon-button [mdePopoverTriggerFor]="notificationsPopover" [mdePopoverTargetAt]="mainToolbar" mdePopoverTriggerOn="click">
    <mat-icon>notifications</mat-icon>
  </button>
  -->

  <mde-popover #settingsPopover="mdePopover"
               [mdePopoverOverlapTrigger]="false"
               [mdePopoverCloseOnClick]="false"
               [mdePopoverOffsetX]="-25"
               [mdePopoverOffsetY]="2"
               [mdePopoverArrowOffsetX]="15">
    <div class="popover mat-elevation-z2">
      <label>Debounce Events</label>
      <div class="data-delay">
        <mat-icon svgIcon="watch_later"></mat-icon>

        <mat-slider [min]="0" [max]="1000"
                    [value]="200" #slider
                    [step]="50"
                    [tickInterval]="100"
                    [thumbLabel]="true"
                    (change)="changeDebounce($event)">

        </mat-slider>

        <span>
        {{ delayLabel(slider.value) }}
          </span>
      </div>

      <label>Theme</label>
      <div>
        <button mat-raised-button color="primary" (click)="toggleTheme()">Toggle</button>
      </div>
    </div>
  </mde-popover>
</mat-toolbar>

<div class="content">
  <div *ngIf="mappedApps$ | async as apps">
    <div *ngFor="let app of apps; trackBy: trackByAppFunc">
      <senstate-app-overview [app]="app"></senstate-app-overview>
    </div>

    <div *ngIf="apps.length === 0" class="empty-area">
      <div class="inner">
      <mat-card>
        <mat-card-title class="center"
                        style="text-align: center">
          Use it with your project
        </mat-card-title>
        <table class="center">
          <tr>
            <td>
              <a href="https://github.com/senstate/platform/blob/master/libs/client/README.md"
                 mat-raised-button color="primary" target="_blank">
                JS
              </a>
            </td>
            <td>
              <a href="https://github.com/dnaka91/senstate-rs"
                 mat-raised-button color="primary" target="_blank">
                Rust
              </a>
            </td>
            <td>
              <a href="https://github.com/dnaka91/senstate-go"
                 mat-raised-button color="primary" target="_blank">
                Go
              </a>
            </td>
          </tr>
        </table>
      </mat-card>

      <button mat-raised-button
              (click)="addExampleData()">Add example data</button>
      </div>
    </div>
  </div>


  <mde-popover #themePopover="mdePopover"
               [mdePopoverOverlapTrigger]="false"
               [mdePopoverCloseOnClick]="false"
               [mdePopoverOffsetX]="0"
               [mdePopoverOffsetY]="2"
               [mdePopoverArrowOffsetX]="15">
    <div class="popover mat-elevation-z2">
      <div>1. Open your Phone</div>
      <br>
      <div>2. Scan this qr-code</div>
      <br>
      <ng-container *ngIf="networkInterface$ | async as interface">
        <qr-code
          [value]="interface"
          [size]="200">

        </qr-code>
        <br/>
        <div>or open <br/><code>{{interface}}</code></div>

      </ng-container>
    </div>
  </mde-popover>
</div>


<mat-toolbar color="primary" class="footer">
  <span class="data" title="App # Watcher-Count">
    <mat-icon svgIcon="important_devices"></mat-icon> &nbsp;
    {{ (mappedApps$ | async)?.length }} # {{ watcherCount$ | async }}</span>
  <span class="span"> </span>
  <span class="data">
    Socket: {{socketStatus$ | async }}
</span>

</mat-toolbar>
