<mat-toolbar color="primary" #mainToolbar>
  <div class="toolbar-title">Senstate 0.1.4</div>

  <div class="connected-to">Socket: {{socketStatus$ | async }}</div>

  <button mat-button *ngIf="!isMobile"
          [mdePopoverTriggerFor]="themePopover"
          [mdePopoverTargetAt]="mainToolbar"
          mdePopoverTriggerOn="click">
    Mobile Mode <img src="assets/qrcode.png">
  </button>

  <!--
  <button mat-icon-button [mdePopoverTriggerFor]="notificationsPopover" [mdePopoverTargetAt]="mainToolbar" mdePopoverTriggerOn="click">
    <mat-icon>notifications</mat-icon>
  </button>
  -->

</mat-toolbar>

<div class="content">
  <div *ngIf="mappedApps$ | async as apps">
    <div *ngFor="let app of apps; trackBy: trackByAppFunc">
      <h2 class="mat-h2">{{app.name}}</h2>

      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <span [matBadge]="getObjectLength(app.watchers)"
                  matBadgeOverlap="false">Watchers</span>
          </ng-template>

          <ng-container *ngIf="getValues(app.watchers) as watchers">

            <h2 class="mat-h3" *ngIf="watchers.length === 0">
              No watchers yet :)
            </h2>


            <div class="cards">
              <ng-container *ngFor="let tag of watchers; trackBy: trackByWatcherFunc"
                            [ngSwitch]="tag.type">
                <div class="card">
                  <span class="label mat-caption">{{ tag.tag }}</span>
                  <senstate-string-watcher

                    [data]="getWatchData$(tag.watchId) | async"
                    *ngSwitchCase="0"
                  ></senstate-string-watcher>

                  <senstate-number-watcher
                    *ngSwitchCase="1"

                    [data]="getWatchData$(tag.watchId) | async"
                  ></senstate-number-watcher>

                  <senstate-number-watcher
                    *ngSwitchCase="3"
                  ></senstate-number-watcher>

                  <senstate-json-watcher
                    *ngSwitchCase="2"
                    [data]="getWatchData$(tag.watchId) | async"
                  >

                  </senstate-json-watcher>

                  <mat-card *ngSwitchDefault>
                    <mat-card-title>{{tag.tag}}</mat-card-title>
                    <mat-card-subtitle>{{tag.watchId}}</mat-card-subtitle>
                  </mat-card>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </mat-tab>
        <mat-tab label="Log">
          <div *ngFor="let l of getAppLogs$(app.appId) | async">
            {{l.log | json}}
          </div>
        </mat-tab>
      </mat-tab-group>

    </div>
  </div>


  <mde-popover #themePopover="mdePopover"
               [mdePopoverOverlapTrigger]="false"
               [mdePopoverCloseOnClick]="false"
               [mdePopoverOffsetX]="-25"
               [mdePopoverOffsetY]="2"
               [mdePopoverArrowOffsetX]="15"
               mdePopoverArrowColor="#FFFFFF">
    <div class="test mat-elevation-z2">
      <qr-code *ngIf="networkInterface$ | async as interface"
               [value]="interface" [size]="150">

      </qr-code>
    </div>
  </mde-popover>


</div>


<mat-toolbar color="primary" class="footer">
  <span class="data">
    <mat-icon svgIcon="important_devices"></mat-icon> &nbsp; {{ (mappedApps$ | async)?.length }}</span>
  <span class="span"> </span>
  <span class="data">Watchers: {{ watcherCount$ | async }}</span>

</mat-toolbar>
