@import '~angular-material-css-vars/public-util';

$watchColumns: 2;

/*
 * Remove template code below
 */
:host {
  display: flex;
  font-family: sans-serif;
  height: 100vh;
  flex-direction: column;
}

.content{
  margin: 16px;
  flex: 1;
  overflow-y: auto;
}

.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  height: 100vw;
}




$popoverHue: 600;

::ng-deep {

  .popover {
    @include mat-css-color-and-contrast($popoverHue);
    border: 4px solid mat-css-color-primary($popoverHue+100);

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
  }

  .mde-popover-direction-arrow {
    border-bottom-color: mat-css-color-primary($popoverHue+100) !important;
  }
}

code {
  @include mat-css-bg(200);
  border-radius: 3px;
  padding: 2px;
}

mat-toolbar {
  display: flex;
}

.toolbar-title {

}

.connected-to {
  flex: 1;
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer {

  .data {
    color: white;
    display: flex;
    align-items: center;
  }

  .span {
    flex: 1;
  }
}

.data-delay {
  display: flex;
  flex-direction: row;
  align-items: center;

  span {
    width: 50px;
  }
}

.space {
  flex: 1;
}
