<div class="split">


  <div class="column padding">
    <h2>Don't mind the example-sending-data-app style :)</h2>

    <div>
      Running Watchers

      <div *ngFor="let watcher of runningWatchers; let index = index">
        {{watcher.type}}[{{watcher.timer}}]

        <button mat-raised-button (click)="removeWatcher(index)">Delete</button>
      </div>
    </div>

    <mat-form-field>
      <mat-placeholder>Interval</mat-placeholder>
      <input matInput type="number" value="500" #interval>
    </mat-form-field>
    <mat-form-field>
      <mat-placeholder>Watch-Type</mat-placeholder>
      <mat-select #typeSelect>
        <mat-option *ngFor="let watchType of watchTypes"
                    [value]="watchType.value">
          {{watchType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <br/>
    <button mat-raised-button
            (click)="startTimer(interval.value, typeSelect.value)"
            *ngIf="typeSelect.value > -1"
    >
      Start Events
    </button>

    <br/>
    <br/>


    <button mat-raised-button (click)="addEvents()">Add Basic Events</button>
    <button mat-raised-button (click)="addLog()">Add Log</button>
    <button mat-raised-button (click)="addWindowError()" #test>Add Window Error</button>
    <button mat-raised-button routerLink="test" #test>Add NG Error</button>


    <button mat-raised-button (click)="updateProperty()">
      Update Properties: {{ watchProperty }} - {{watchOtherProperty}}

    </button>

    <br/>
    <br/>
    <br/>
    <hr/>
    <ul>
      <li>Todo: better Example-App Style</li>
      <li>Todo: stuff</li>
    </ul>

    <router-outlet></router-outlet>
  </div>


  <iframe src="http://localhost:4200"
  class="column"></iframe>

</div>

