<ng-container *ngIf="watchers$ |async as watchers">

  <h2 class="mat-h3" *ngIf="watchers.length === 0">
    No watchers yet :)
  </h2>

  <senstate-group-holder
    *ngFor="let group of watchers; trackBy: trackByGroupFunc">Group 1
    <b *ngIf="group.key && group.key !== 'undefined'"
       group_holder__name>
      {{group.key}} - Watchers: {{group.watchers.length}}
    </b>

    <ngx-masonry [options]="masonryConfig">
      <div [class]="'card card_type_'+tag.type" ngxMasonryItem
           [class.auto]="autoSizeCards"
           *ngFor="let tag of group.watchers; trackBy: trackByWatcherFunc"
           [ngSwitch]="tag.type">

        <senstate-watcher-card [title]="tag.tag"
                               [appId]="appId"
                               [watchId]="tag.watchId"
                               *ngSwitchCase="0">
          <senstate-string-watcher
            [watchId]="tag.watchId"

          ></senstate-string-watcher>

          <ng-template historyTemplate let-data>
            <pre>{{data}}</pre>
          </ng-template>
        </senstate-watcher-card>
        <senstate-watcher-card [title]="tag.tag" [showMenu]="true"
                               [appId]="appId"
                               [watchId]="tag.watchId"
                               *ngSwitchCase="1">
          <div menu-content>
            <mat-checkbox class="mat-menu-item" #minMaxCheckbox>Min / Max</mat-checkbox>
          </div>

          <senstate-number-watcher
            [showMinMax]="minMaxCheckbox.checked"
            [watchId]="tag.watchId"
          ></senstate-number-watcher>

          <ng-template historyTemplate let-data>
            {{data}}
          </ng-template>
        </senstate-watcher-card>

        <senstate-watcher-card [title]="tag.tag"
                               [appId]="appId"
                               [watchId]="tag.watchId"
                               *ngSwitchCase="2">
          <senstate-json-watcher
            [watchId]="tag.watchId"
          >

          </senstate-json-watcher>

          <ng-template historyTemplate let-data>
            <senstate-json-viewer [data]="data">

            </senstate-json-viewer>
          </ng-template>
        </senstate-watcher-card>

        <mat-card *ngSwitchDefault>
          <mat-card-title>{{tag.tag}}</mat-card-title>
          <mat-card-subtitle>{{tag.watchId}}</mat-card-subtitle>
        </mat-card>
      </div>
    </ngx-masonry>
  </senstate-group-holder>

</ng-container>
