.card {
  padding-right: 15px;
  padding-bottom: 15px;
  border-radius: 10px;

  &:not(.auto) {
    width: 100%;
  }

  box-sizing: border-box;
}

@media all and (min-width: 400px) {
  .card:not(.auto) {
    width: 50%;
  }
}

@media all and (min-width: 700px) {
  .card:not(.auto) {
    width: 33%;
  }
}

@media all and (min-width: 1000px) {
  .card:not(.auto) {
    width: 25%;
  }
}

@media all and (min-width: 1200px) {
  .card:not(.auto) {
    width: 20%;
  }
}
